<a href="https://colab.research.google.com/github/rlaalswn222/sesac_multimodal/blob/main/sesac01_python01_241024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 9; # 할당연산자
b = 2;
c = a+b;
d = a*b;
e= a/b;
f = a-b;
g = a%b;
h = a//b;
i = a**b;
print(a);
print(b);
print(c);
print(d);
print(e);
print(f);
print(g);
print(h);
print(i);
print("a+b") # 문자열 출력

9
2
11
18
4.5
7
1
4
81
a+b

In [ ]:
a+=1; # 띄어 쓰기 불가
print(a)

10

In [ ]:
str_5 = '인덱싱을 하기 위한 string 입니다.'
print(len(str_5))
print(str_5[2])
print(str_5[11:17])
print(str_5.upper())

22
싱
string
인덱싱을 하기 위한 STRING 입니다.

In [ ]:
str_6 = '안녕하세요. 홍길동 고객님!'
print(str_6)
print(str_6[:])
print(str_6[:2])
print(str_6[11:])
print(str_6[0:11:2])
print(str_6[::-1]) # 마이너스 인덱싱 지원
print(str_6[::2])

안녕하세요. 홍길동 고객님!
안녕하세요. 홍길동 고객님!
안녕
고객님!
안하요 길
!님객고 동길홍 .요세하녕안
안하요 길 객!

In [ ]:
str_7 = 'Alpabet'
print(str_7.upper())
print(str_7.upper) # 기계어
print(str_7.lower())
print(str_7.capitalize())
print(str_7.count('a')) # 소문자만 카운팅
print(str_7.lower().count('a'))
#print(str_7.count('a').lower()) -> 1을 소문자로 바꿈 x
print(str_7.find('t')) # 인덱스 위치 변환
print(str_7.find('z')) # 없으면 -1

ALPABET
<built-in method upper of str object at 0x7c55a0a7c5f0>
alpabet
Alpabet
1
2
6
-1

In [ ]:
str_8 = 'Life is C between B and D'
print(str_8.replace('C', 'Chicken'))
print(str_8.split()) #List
print(str_8.strip())
print(str_8.split('i')) # List
print(str_8.strip().split('i'))
print(str_8.join('abc'))

Life is Chicken between B and D
['Life', 'is', 'C', 'between', 'B', 'and', 'D']
Life is C between B and D
['L', 'fe ', 's C between B and D']
['L', 'fe ', 's C between B and D']
aLife is C between B and DbLife is C between B and Dc

### 리스트
리스트는 삽입, 수정, 삭제 자유로움

2차원 리스트[ ] [ ]

row, cloumn

-----

### 튜플
튜플은 삽입, 수정, 삭제가 어려움

In [ ]:
a=[[10, 20], [30, 40], [50, 60]]
print(a[0][0])
print(a)

10
[[10, 20], [30, 40], [50, 60]]

In [ ]:
list_4 = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
for i in list_4:
    print(i)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [ ]:
list_5 = [[[1, 2, 3],[4], [5,[6,7,8,9]]],
          [10, 11,[12, 13,[14]]]]
print(list_5[:1][0][0])

[1, 2, 3]

In [ ]:
list_6 = ['a', 'b', 'c']
list_7 = ['가', '나', '다']
print(list_6+list_7)
print(list_6*3)

['a', 'b', 'c', '가', '나', '다']
['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
list_8 = ['파이썬', 'C', 'Java', 'R', 'JavaScript']
list_8.append('C++') # 리스트 맨 뒤에 추가
print(list_8)

['파이썬', 'C', 'Java', 'R', 'JavaScript', 'C++']

In [ ]:
list_8.insert(2, 'C#') #원하는 위치에 추가, 계속 누적되어서 추가됨
print(list_8)

['파이썬', 'C', 'C#', 'Java', 'R', 'JavaScript', 'C++']

In [ ]:
list_8.pop() #맨 뒤부터 빼냄

'JavaScript'

In [ ]:
list_9 = [1, 5, 7, 2, 6]
print(sorted(list_9)) # 오름차순
print(list_9)
list_9.sort()
print(list_9) # 정렬 후 리스트 출력
list_9.sort(reverse=True) # 정렬된 리스트 reverse
print(list_9)

[1, 2, 5, 6, 7]
[1, 5, 7, 2, 6]
[1, 2, 5, 6, 7]
[7, 6, 5, 2, 1]

In [ ]:
a = [10, 9, 8, 7, 6]
b = [5, 4, 3, 2, 1]
print(id(a), id(b))

136706586224128 136706589000064

In [ ]:
b = a
a.sort()
print(b)

[6, 7, 8, 9, 10]

**2차원에서는** 안 됨 따라서 deepcopy 사용!!

In [ ]:
a = [5, 4, 3, 2, 1]
b=a[:]
print(id(a), id(b)) # 메모리 주소

print(b)

a. sort()
print(a)
print(b)

136707215864064 136706589006208
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
a =[5, 4, 3, 2, 1]
b = a.copy()
print(id(a), id(b))
a.sort()
print(a)
print(b)
print(a)

136706586227072 136706586388480
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [ ]:
import copy

a = [[1, 2], [3, 4]]
b = a.copy()  # 얕은 복사
print(id(a), id(b))  # 서로 다른 id 출력

# 바깥 리스트의 id는 다르지만, 내부 리스트는 같은 객체를 참조
print(id(a[0]), id(b[0]))  # 동일한 id 출력 (내부 리스트는 같은 객체)
print(id(a[1]), id(b[1]))  # 동일한 id 출력

# a의 내부 리스트 변경
a[0][0] = 99

print(a)  # [[99, 2], [3, 4]]
print(b)  # [[99, 2], [3, 4]]  --> b도 영향을 받음

136706586169472 136706586172288
136706597691648 136706597691648
136706586168576 136706586168576
[[99, 2], [3, 4]]
[[99, 2], [3, 4]]

### 깊은 복사, 얕은 복사

In [ ]:
import copy
a = [5, 4, 3, 2, 1]
b = copy.deepcopy(a) # 깊은 복사 참조값, 메모리값을 다르게 복사하는것들을 참조한다고 함
print(id(a), id(b))
a.sort()
print(a)
print(b)

136706601295296 136707210895872
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
import copy

a = [[1, 2], [3, 4]]
b = copy.deepcopy(a)  # 깊은 복사
print(id(a), id(b))  # 서로 다른 id 출력

# 바깥 리스트와 내부 리스트 모두 다른 객체로 복사됨
print(id(a[0]), id(b[0]))  # 다른 id 출력
print(id(a[1]), id(b[1]))  # 다른 id 출력

# a의 내부 리스트 변경
a[0][0] = 99

print(a)  # [[99, 2], [3, 4]]
print(b)  # [[1, 2], [3, 4]]  --> b는 영향을 받지 않음

136706588920768 136707209328192
136706586383040 136706586389504
136707209396096 136706586257664
[[99, 2], [3, 4]]
[[1, 2], [3, 4]]

In [ ]:
a = [[1, 2], [3, 4]]
print(a)
b=a[:]
print(b) #b의 내용이 a의 내용과 같아짐
a[0][1] = 100
print(a)

[[1, 2], [3, 4]]
[[1, 2], [3, 4]]
[[1, 100], [3, 4]]

## Stack

뒤에서부터 꺼냄
 ## Queue

앞에서부터 꺼냄

## Tuple 튜플
삽입, 삭제, 수정 불가능

In [ ]:
tuple_1 = ()
tuple_2 = tuple()
tuple_3 = (1, 2)
tuple_4 = (3, ) #가변 공간
tuple_5 = 4, 5

print(tuple_1)
print(tuple_2)
print(tuple_3)
print(tuple_4)
print(tuple_5)

()
()
(1, 2)
(3,)
(4, 5)

## Dictionary

딕셔너리 {}

키를 통해서 value에 접근 가능

In [ ]:
dict_3 = {'홍길동': 100, '홍계월': 200}
print(dict_3)
print(dict_3['홍길동'])

dict_3['홍길동'] = 300
print(dict_3)
dict_3['슈퍼맨'] = 400
print(dict_3)

del dict_3['홍길동'] #삭제
print(dict_3)
print("==============")
print(dict_3.keys())
print(dict_3.values())
print(dict_3.items())

{'홍길동': 100, '홍계월': 200}
100
{'홍길동': 300, '홍계월': 200}
{'홍길동': 300, '홍계월': 200, '슈퍼맨': 400}
{'홍계월': 200, '슈퍼맨': 400}
==============
dict_keys(['홍계월', '슈퍼맨'])
dict_values([200, 400])
dict_items([('홍계월', 200), ('슈퍼맨', 400)])

In [ ]:
dict_4 = {'홍길동': 100, '홍계월': 200, '슈퍼맨': 400, '배트맨': 500}
print(dict_4.keys())
print(dict_4.values())
print(dict_4.items())
print(type(dict_4.keys())) # 타입 변환
print(type(dict_4.values()))
print(type(dict_4.items()))

dict_keys(['홍길동', '홍계월', '슈퍼맨', '배트맨'])
dict_values([100, 200, 400, 500])
dict_items([('홍길동', 100), ('홍계월', 200), ('슈퍼맨', 400), ('배트맨', 500)])
<class 'dict_keys'>
<class 'dict_values'>
<class 'dict_items'>

## set
중복허용하지 않음

문자는 문자끼리 숫자는 숫자끼리

In [ ]:
set_5 = {1, 2, 3, 4}

In [ ]:
3 and 5 #숫자로 인식 논리연산자

5

In [ ]:
3 & 5 #비트연산자 bit 2진수로 바꾸어서 계산 3 = 011, 5 = 101 둘 다 참일 경우만 해서 보면 001

1

In [ ]:
3 and 7

7

In [ ]:
3 & 7 #011 & 0111 -> 011 = 3

3

## if 조건문

if

else

**elif**

In [ ]:
money = False

if money:
  print("여행을 간다")
else:
  print("여행을 못간다")

여행을 못간다

In [ ]:
money = 30000

if money<1000:
  print("굶는다")
elif 1000<=money<5000:
  print("라면을 먹는다")
elif 5000<=money<25000:
  print("치킨을 먹는다")
elif 25000<=money<30000:
  print("삼겹살을 먹는다")
else:
  print("소고기를 먹는다")

소고기를 먹는다

In [ ]:
money = 4000 # 속도고려하면 이게 더 좋음 먼저 골라놓고, if문
if money>=0:
  if money<5000:
    print("라면을 먹는다")
  elif 5000<=money<25000:
    print("치킨을 먹는다")
  elif 25000<=money<30000:
    print("삼겹살을 먹는다")
  else:
    print("소고기를 먹는다")
else:
  print("굶는다")

라면을 먹는다

### 삼항연산자
condition이 참이면 true_value 값을 취하고, 거짓이면 flase_value 값을 취함

`[true_value] if [condition] else [false_value]`

In [ ]:
# 기본 if 문
value = 20

if value%2==0:
  is_even = True
else:
  is_even = False

print(is_even)

True

In [ ]:
# 삼항 연산자
value = 20
is_even = True if value%2==0 else False
print(is_even)

True

In [ ]:
name ='김민주'
print('여긴 입력하는 칸! %s' %name)
#print('여긴 이름 입력하는 칸! %d', name) 사이에 반점 아님

여긴 입력하는 칸! 김민주

In [ ]:
num = 1
print('문자열 포맷팅하기 예시: %d' %num)

문자열 포맷팅하기 예시: 1

In [ ]:
print('문자열 포맷팅하기 예시 {}'.format(2))

문자열 포맷팅하기 예시 2

In [ ]:
# f-string 방식
print(f'문자열 포맷팅하기 예시: {num}')
# format에서 안됨

문자열 포맷팅하기 예시: 1

In [ ]:
print('나는 오늘 %s를 %d +1 잔이나 마셨다' %('커피', 1))
print('나는 오늘 {음료}를 {개수} +1 잔이나 마셨다'.format(음료 = '커피', 개수 = 1))
#print('나는 오늘 {음료}를 {개수+1} 잔이나 마셨다'.format(음료 = '커피', 개수 = 1))
# key value error 개수+1 때문에

#f string
drink = '커피'
num = 3
print(f'나는 오늘 {"커피"}를 {num +1} 잔이나 마셨다')

나는 오늘 커피를 1 +1 잔이나 마셨다
나는 오늘 커피를 1 +1 잔이나 마셨다
나는 오늘 커피를 4 잔이나 마셨다

# 5-1
B로 A를 나눈 나머지가 3 초과면 실패, 3이면 무승부, 3 미만이면 성공이 출력되도록 만들어보자

입력

a = 34

b = 4

In [ ]:
a = 34
b = 4

if a%b>3:
  print('실패')
elif a%b==3:
  print('무승부')
else:
  print('성공')

성공

# 5-2
홀수 짝수 판별기
정수 입력받아서

In [ ]:
i = input('정수를 입력해주세요: ')
if int(i)%2==0:
  print('짝수')
else:
  print('홀수')

정수를 입력해주세요: 4
짝수

# 5-3
무슨학교 다니세요?
태어난 연도 계산해서 학교 종류 맞추는 프로그램

In [ ]:
i = int(input('태어난 연도를 입력하세요 '))
#print(type(i))

if 8<=2024-i+1<14:
  print("초등학생")
elif 14<=2024-i+1<17:
  print("중학생")
elif 17<=2024-i+1<20:
  print("고등학생")
elif 20<=2024-i+1<=26:
  print("대학생")
else:
  print("학생이 아닙니다")

태어난 연도를 입력하세요 2002
<class 'int'>
대학생

# 5-4
사용자로 점수를 3개 입력받아

각 점수가 65점보다 클 경우 합격 아닐경우 불합격을 출력하세요

단, 0~100 이 아닌 숫자가 입력된경우 잘못된
“잘못된 점수가 입력되었습니다" 를 출력하세요

In [201]:
a = int(input())
b = int(input())
c = int(input())

if 0<a<100 and 0<b<100 and 0<c<100:
  if a > 65 and b > 65 and c > 65:
    print("합격")
  else:
    print("불합격")
else:
  print("잘못된 점수가 입력되었습니다.")

70
70
70
합격

# 5-5

양의 정수 하나를 입력 받아 이
정수가 2의 배수인지 3의 배수인
지 작성하시오

In [ ]:
num1 = int(input())

if num1 % 2 == 0:
  if num1 % 6 == 0:
    print("2와 3의 공배수")
  else:
    print("2의 배수")

elif num1 % 3 == 0:
  if num1 % 6 == 0:
    print("2와 3의 공배수")
  else:
    print("3의 배수")

else:
  print("누구의 배수도 아님")

12
2와 3의 공배수