<a href="https://colab.research.google.com/github/rlaalswn222/sesac_multimodal/blob/main/sesac02_python02_241025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While문 반복문


```
while 조건:

  수행할 문장1:

  수행할 문장2:
```

In [ ]:
# 무한루프 안 걸림 끝이있으니까
i = 1

while i <= 10:
  if i % 2 == 0:
    print(i)
  i+=1

2
4
6
8
10

In [ ]:
i = 90

while i:

  if i == 100:
    print("축하합니다. %d번째 방문자입니다. " %i)
    break

  i += 1

print("감사합니다. 이벤트가 종료되었습니다.")

축하합니다. 100번째 방문자입니다.
감사합니다. 이벤트가 종료되었습니다.

In [ ]:
i = 0

while i<11:
  i+=1
  if i == 6:
    continue #출력하지 않고 while문 시작으로 돌아감 -> 6에 대한 값은 출력되지 않음 뒤에 if문까지 도달하지 못함
  if i %2 == 0:
    print(i)

2
4
8
10

## For문


```
for 변수 in range (변수가 속한 자료형 혹은 변수의 범위):
  수행해야할 문장~~~
```

In [ ]:
for i in range(0, 5):
  print(i)

0
1
2
3
4

-----

5부터 0까지 카운트 다운

In [ ]:
for i in range (5, -1, -1): #5부터 시작, -1보다 하나 덜 작성되므로 0까지 출력하려면 -1, 간격 -1은 역순
  print(i)

5
4
3
2
1
0

-----

In [ ]:
word = "Hello!"
i = len(word)

for i in range (1, 2, 1):
  print(word[i])

e

In [ ]:
word = "Hello!"

for i in range (len(word)):
  if word[i]=='e':
    print(word[i])

e

In [ ]:
for a, b in [(1, 2), (2, 2), (2, 3), (2, 4)]:
  print(a*b)

2
4
6
8

In [ ]:
for i in range(2, 4):
  print("-----", i, "단 -----")
  for j in range(1, 10):
    print(i*j)

----- 2 단 -----
2
4
6
8
10
12
14
16
18
----- 3 단 -----
3
6
9
12
15
18
21
24
27

In [ ]:
for i in range(5):
  if (i == 3):
    break
  print(i, end ='')

012

In [ ]:
for i in range(5):
  if (i==3):
    continue #3일때는 print문까지 못가고 반복문으로 감. 한번 더 실행됨 (3출력 안됨!)
  print(i, end='')

0124

In [ ]:
for i in range(5):
  if (i == 3):
      pass #3일때 print문까지 다이렉트로 패스함
  print(i, end ='')

01234

In [ ]:
for i in range(5):
  if (i == 3):
    break
  print(i) #end 없으면 줄 바꿈됨

0
1
2

-----
1부터 10까지 합을 구하시오

In [ ]:
sum=0

for i in range (0, 11):
  sum += i
  i+=1

print(sum)

55

----
1) 사용자로부터 정수를 입력받으 해당 정수만큼 "안녕"을 출력하세요.

2) 사용자로부터 정수를 입력받아, 입력된 정수만큼 별찍기

In [ ]:
num = int(input("정수를 입력해주세요: "))

for i in range(1, num+1):
  print("안녕")

정수를 입력해주세요: 5
안녕
안녕
안녕
안녕
안녕

In [ ]:
num = int (input("정수를 입력해주세요: "))

for i in range (1, num+1):
  print("*"*i)
  i +=1

정수를 입력해주세요: 3
*
**
***

---
1) 계단형, n을 입력받아, n만큼 줄을 만들고 계단 형태로 별찍기

2) 삼각형, 왼쪽 아래가 직각인 n만큼의 높이를 가지는 직각삼각형

2)-(1) 오른쪽 아래가 직각인 n만큼의 높이를 가지는 직각삼각형

3) 역삼각형, 왼쪽 위가 직각인 n만큼의 높이를 가지는 직각삼각형

3)-(1) 오른쪽 위의 직각인 n만큼의 높이를 가지는 직각삼각형

4) 피라미드, n만큼의 높이를 가지는 홀수 개의 별 피라미드

In [ ]:
# 1
n = int(input("정수 n을 입력하세요: "))

for i in range(n+1):
  for j in range(n+1):
    if j == i:
      print('*'*n, end='')
    else:
      print(' ', end='')
  print()

정수 n을 입력하세요: 3
***
 ***
  ***
   ***

In [ ]:
#2
n = int (input("정수를 입력해주세요: "))

for i in range (1, n+1):
  print("*"*i)
  i +=1

정수를 입력해주세요: 4
*
**
***
****

In [ ]:
#2-1
num = int (input("정수를 입력해주세요: "))
empty = ' ' #공백 변수 space 지정

for i in range(num, 0, -1): #n에서 1까지 역순으로 숫자 생성(마지막 숫자보다 +1임을 기억)
    print(empty * i + "*" * (num-i)) #공백과 for문 곱하고 + 별과 input값에서 for문-1을 뺀걸 곱함

정수를 입력해주세요: 9
        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********

In [ ]:
#3
num = int(input("정수를 입력해주세요: "))

for i in range (num, 0, -1):
  print("*"*i)
  i+=1

정수를 입력해주세요: 3
***
**
*

In [ ]:
#3-1
num = int (input("정수를 입력해주세요: "))
empty = ' ' #공백 변수 space 지정

for i in range(num, 0, -1): #n에서 1까지 역순으로 숫자 생성(마지막 숫자보다 +1임을 기억)
    print(empty * (num-i) + "*" * (i)) #공백과 for문 곱하고 + 별과 input값에서 for문-1을 뺀걸 곱함

정수를 입력해주세요: 8
********
 *******
  ******
   *****
    ****
     ***
      **
       *

In [ ]:
#4
n = int(input())

for i in range(1,n+1): # 1~n
  print(" "*(n-i)+"*"*(i*2-1)) #5입력 시 4공백+1별

5
    *
   ***
  *****
 *******
*********

In [23]:
#4
n = int(input())

for i in range(n,0,-1): #n~1
  print(" "*(n-i)+"*"*(2*i-1))

5
*********
 *******
  *****
   ***
    *

In [24]:
#4
n = int(input())

for i in range(1,n+1): # 1~n
  print(" "*(n-i)+"*"*(i*2-1)) #5입력 시 4공백+1별

for j in range(n-1,0,-1): #n~1
  print(" "*(n-j)+"*"*(2*j-1))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

연습문제3

1) x = [3, 6, 9, 20, -7, 5]의 값의 모든 요소에 10을 곱한 뒤 출력

심화: 출력과 리스트 x의 값에도 10을 모두 곱해라

2) y = {"math": 70, "science": 80 "english": 20}의 값의 모든 요소에 10을 더한 뒤 출력하세요

심화: 출력과 딕셔너리y의 값에도 모두 10을 더해주세요

3) 숫자를 입력받고 입력받은 정수의 구구단을 출력하세요

In [ ]:
#연습문제3
# 1)
x = [3, 6, 9, 20, -7, 5]
count = len(x)

for i in range(0, count):
  x[i]=x[i]*10
print(x)

[30, 60, 90, 200, -70, 50]

In [ ]:
#1) 의 심화

In [32]:
#2

y = {"math": 70, "science": 80, "english": 20}
count = len(y.values())

print(y["math"]+10)

80

In [37]:
#3
num =int(input("정수를 입력해주세요: "))

for i in range(1, num+1):
  print(num, "*",i, "=", (num * i))

정수를 입력해주세요: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

### 연습문제4
1~100 임의의 숫자

In [56]:
import random

true_value = random.randint(1, 100)

print("숫자를 맞춰보세요(1~100)", end='')

while (input_value) != (true_value):
  input_value = int(input(''))
  if input_value > true_value:
    print("숫자가 너무 큽니다")
    continue
  elif input_value < true_value:
    print("숫자가 너무 작습니다")
    continue
  else:
    print("정답입니다. 입력한 숫자는 ", input_value, "입니다.")
    break

숫자를 맞춰보세요(1~100)55
숫자가 너무 작습니다
66
숫자가 너무 큽니다
60
숫자가 너무 작습니다
65
숫자가 너무 큽니다
63
숫자가 너무 큽니다
62
정답입니다. 입력한 숫자는  62 입니다.

In [7]:
import random

true_value = random.randint(1, 100)

print("숫자를 맞춰보세요(1~100)")

for i in range(1, 101):
  num = int(input())
  if num > true_value:
    print("큼")
  elif num < true_value:
    print("작음")
  else:
    print("정답입니다")
    break
else:
  print("찾지 못함")

숫자를 맞춰보세요(1~100)
50
작음
70
작음
80
작음
90
작음
99
큼
9
작음
95
정답입니다

## 연습문제5
1) word = ["school", "game", "piano", "science", "hotel", "mountain"]

중 글자 수가 6글자 이상인 문자를 모아 새로운 리스트 생성

2) 구구단을 1단부터 9단까지 출력

In [46]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]
count_list = len(word) # word의 리스트 순서를 count_list에 저장

for i in range(0, count_list):
  if len(word[i]) >=6:
    print(word[i])
  else:
    continue

school
science
mountain

In [26]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]
a = list()
for i in range(len(word)):
  if len(word[i])>=6:
    a.append(word[i])
print(a)

['school', 'science', 'mountain']

In [47]:
# 2) 구구단을 1단부터 9단까지 출력

for i in range(1, 11):
  print(i, "단")
  for j in range(1, 11):
    print(i, "*", j, "=", (i*j))

1 단
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 단
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

## 연습문제 6

1~100까지의 숫자 중 3과 5의 공배수
..
모두 해당되지 않을 경우 그냥 숫자 출력

In [51]:
#n = int(input("n: "))
count35 = 0
count3 = 0
count5 = 0

for i in range(1, 101):
  if i % 3 == 0:
    if i % 5 == 0:
      print("3과 5의 공배수")
      count35 += 1
      continue
    else:
      print("3의 배수")
      count3 += 1
      continue
  elif i % 5 == 0:
    if i % 3 == 0:
      print("3과 5의 공배수")
      count35 += 1
    else:
      print("5의 배수")
      count5 += 1
  else:
    print(i)

print("100까지의 3과 5의 공배수 개수: ", count35)
print("100까지의 3의 배수 개수: ", count3+count35)
print("100까지의 5의 배수 개수: ", count5+count35)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수
100까지의 3과 5의 공배수 개수:  6
100까지의 3의 배수 개수:  33
100까지의 5의 배수 개수:  20

In [52]:
num = int(input("n: "))

for i in range(1, num+1):
  if i % 3 == 0:
    if i % 5 == 0:
      print("3과 5의 공배수")
      continue
    else:
      print("3의 배수")
      continue
  elif i % 5 == 0:
    if i % 3 == 0:
      print("3과 5의 공배수")
    else:
      print("5의 배수")
  else:
    print(i)

n: 40
1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수

## 연습문제 7
사용자로부터 숫자를 ㄱ

In [40]:
c = 0
d = 1

while d==1:
  a = (input())
  if a =='s' or a == 'S':
    d = 0
  else:
    a = int(a)
    c += a
print(c)

5
3
s
8

In [38]:
sum = 0

while True:
    num = input("숫자를 입력하세요(합계를 보고싶으면 s, S): ")

    if num.lower() == 's':
        print(f"합계: {sum}")
        break

    try:
        sum += int(num)
    except ValueError:
        print("숫자를 입력하세요(합계를 보고싶으면 s, S):")

숫자를 입력하세요(합계를 보고싶으면 s, S): 4
숫자를 입력하세요(합계를 보고싶으면 s, S): S
합계: 4

사람별 평균을 구하라

In [87]:
kor_score = [39, 69, 20, 100, 80]
math_score = [32, 59, 85, 30, 90]
eng_score = [49, 70, 48, 60, 100]
midterm_score = [kor_score, math_score, eng_score]

a = list()
sum = 0

for i in range(0, 5):
  for j in range(0, 3):
    sum += midterm_score[j][i]
  sum = 0
print(f"평균 : {sum/ 3}")

평균 : 0.0

In [96]:
kor_score = [39, 69, 20, 100, 80]
math_score = [32, 59, 85, 30, 90]
eng_score = [49, 70, 48, 60, 100]
midterm_score = [kor_score, math_score, eng_score]
a = list()
sum = 0

people_count = len(kor_score)
subject_count = len(midterm_score)

for i in range(0, people_count):
  #a.append[i]=sum
  for j in range(0, subject_count):
    #print(midterm_score[j][i])
    sum = 0
    sum = sum + midterm_score[j][i]
    print(sum)
    a[i] = sum

print(a)

39

IndexError: list assignment index out of range

In [101]:
kor_score = [39, 69, 20, 100, 80]
math_score = [32, 59, 85, 30, 90]
eng_score = [49, 70, 48, 60, 100]
midterm_score = [kor_score, math_score, eng_score]

student_score = [0, 0, 0, 0, 0]
i = 0

for subject in midterm_score: #과목
  for score in subject:
    student_score[i] += score
    i+=1
  i =0
else:
  a, b, c, d, e = student_score
  student_average = [a/3, b/3, c/3, d/3, e/3]
  print(student_average)

[40.0, 66.0, 51.0, 63.333333333333336, 90.0]

In [ ]:
n = int(input("정수 n을 입력하세요: "))

for i in range(n+1):
  for j in range(n+1):
    if j == i:
      print('*'*i, end='')
    else:
      print(' ', end='')
  print()

정수 n을 입력하세요: 5

 *
  **
   ***
    ****
     *****