<a href="https://colab.research.google.com/github/rlaalswn222/sesac_multimodal/blob/main/sesac04_python04_241029.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [169]:
class Myclass():
  pass

In [170]:
a = Myclass()
b = Myclass()
c = Myclass()

In [171]:
print(a, b, c)

<__main__.Myclass object at 0x7ed1903cabc0> <__main__.Myclass object at 0x7ed1903cadd0> <__main__.Myclass object at 0x7ed1903c9b70>

In [172]:
class Account():
  def make_account(self):
    self.balance = 0
  def deposit(self, money):
    self.balance += money
  def draw(self, money):
    self.balance -= money

In [173]:
a1 = Account()
a1.make_account()
a1.deposit(1000)
print(a1.balance)

1000

In [174]:
a2 = Account()
a2.make_account()
a2.deposit(1000)
print(a2.balance)
#balance는 지역변수라서 a2에서 접근하려 하면 에러

1000

In [175]:
class person():
  def __init__ (self): #init 양옆에 언더바 두개 필수 아니면 private되어서 접근 안됨
    self.age = 17
  def __del__(self):
    print("소멸자 호출")

In [176]:
p1 = person()

In [177]:
p1.age

17

In [178]:
class TestClass1():
  def __init__(self, in1, in2):
    self.v1 = in1
    self.v2 = in2

In [179]:
t_cls2 = TestClass1(10, 20)

In [180]:
class test():
  name = '아무나'
  age = 0
  def __init__ (self, name, age):
    print("생성자 호출!")
    self.name = name
    self.age = age
  def __del__(self):
    print("소멸자 호출")
  def info(self):
    print('나의 이름은', self.name, '입니다')
    print('나이는', self.age, '입니다.')

r = test('fff', 9)

생성자 호출!

In [181]:
r.info()

나의 이름은 fff 입니다
나이는 9 입니다.

In [183]:
 test.info() # TypeError: test.info() missing 1 required positional argument: 'self'
#인스턴스를 안 받아서 info를 사용하지 못함

TypeError: test.info() missing 1 required positional argument: 'self'

In [185]:
class CalssExample:
  def __init__ (self, name, age): #생성자(Constructor) 셍성 시 자동 수행 인스턴스 자리
    self.name = name
    self.age = age+5
    print('[생성자] self와 변수 비교' + str(self.age) + 'age: ' + str(age))
    print('[생성자] 이름: ' + self.name + '나이 : ' +str(self.age))
  def ten_year_call(self, val):
    return self.age + 10 #반환

In [186]:
# 위의 변수들이 다르다는 것을 보여주기 위함 다 같은 self.age여도 값이 다르다!
a = CalssExample('철수', 20) #name = 철수 age = 20
print(a.age) #a의 age
print(a.ten_year_call(50)) #a의 ten_year_call 메소드 수행

[생성자] self와 변수 비교25age: 20
[생성자] 이름: 철수나이 : 25
25
35



```

class CalssExample:
  def __init__ (self, name, age): # 인스턴스 자리
    self.name = name
    self.age = age+5
    print('[생성자] self와 변수 비교' + str(self.age) + 'age: ' + str(age))
    print('[생성자] 이름: ' + self.name + '나이 : ' +str(self.age))
  def ten_year_call(self, val):
    return self.age + 10 #반환
위의 변수들이 다르다는 것을 보여주기 위함 다 같은 self.age여도 값이 다르다!
a = CalssExample('철수', 20) #name = 철수 age = 20
print(a.age) #a의 age
print(a.ten_year_call(50)) #a의 ten_year_call 메소드 수행
```

In [187]:
class CustomNumbers:
  def __init__ (self):
    self._numbers =[n for n in range(1, 11)]

a = CustomNumbers()

In [188]:
#a[2:5] #TypeError: 'CustomNumbers' object is not subscriptable
a._numbers[2:5] #[3, 4, 5]

[3, 4, 5]

In [189]:
class CustomNumbers:
  def __init__ (self):
    self._numbers = [n for n in range(1, 11)]

  def __getitem__ (self, idx):
    return self._numbers[idx]

a = CustomNumbers()
a[2:7]
# python은 오버로딩 안됨 자바에서만 됨

[3, 4, 5, 6, 7]

## 데코레이터

인스턴스와 상관없이 사용 가능한 전역 변수로 사용하는 것

In [190]:
class MyClass2():
  class_var = '클래스 변수'

  @classmethod
  def class_method(cls):
    print('클래스의 메소드')

In [191]:
e = MyClass2()
print(e.class_var)
print(MyClass2.class_var)

클래스 변수
클래스 변수

In [192]:
e.class_method()
MyClass2.class_method()

클래스의 메소드
클래스의 메소드

# 클래스 메소드
연산을 먼저하고 변수 선언을 해도 됨
전역 변수가 됨

@classmethod

In [193]:
class Account2():
  bank = '모두은행'
  total = 0

  @classmethod
  def merge(cls, acc1, acc2): #merge함수 호출하면 실행 acc1이랑 acc2 둘다 넣어야됨
    cls.total = acc1.balance + acc2.balance
    print('당신의 재산은 %d' %cls.total)
  def __init__(self):
    self.balance = 0
  def desposit(self, money): #잔고 채우기
    self.balance += money
  def draw(self, money): #잔고 빼기
    self.balance -=money

In [194]:
b1 = Account2()
b1.desposit(4000)
print(b1.balance)
print(b1.bank)

4000
모두은행

In [195]:
b2 = Account2()
b2.desposit(7000)
print(b2.balance)
print(b2.bank)

7000
모두은행

In [196]:
Account2.merge(b1, b2)

당신의 재산은 11000

In [197]:
Account2.total #merge 안에 있는 cls.total 함수 실행

11000

In [198]:
class Hotel():
  def __init__(self):
    self.room = []

  def add_person(self, name):
    self.room.append(name)

In [199]:
r1 = Hotel() #인스턴스로 받음
r2 = Hotel()

r1.add_person('뽀로로') #add_person으로 부름 인스턴스 변수이기 때문에 밖으로 빼낼 수가 없음 room이랑 person이 같은걸로 판단함
r2.add_person('펭수')

In [200]:
Hotel.room #AttributeError: type object 'Hotel' has no attribute 'room'

AttributeError: type object 'Hotel' has no attribute 'room'

In [201]:
class GuestHouse():

  guest = []

  def __init__ (self):
    self.room = []

  @classmethod
  def check_in(cls, name):
    cls.guest.append(name)

  def add_person(self, name):
    self.check_in(name)
    self.room.append(name)

In [202]:
r3 = GuestHouse()
r4 = GuestHouse()

r3.check_in('뚝딱이')
r4.check_in('뿡뿡이')

In [203]:
GuestHouse.guest #guest는 클래스 메소드에 있음

['뚝딱이', '뿡뿡이']

In [204]:
r3.room #add_person을 하기 전까지는 room이 비어있음

[]

In [205]:
r4.room

[]

In [206]:
r3.add_person('홍길동')
r4.add_person('텔레토비')

In [207]:
r3.room #add_person을 하고 난 후에는 room에 인원이 있음

['홍길동']

In [208]:
r4.room

['텔레토비']

In [209]:
GuestHouse.guest #guest인원 모두 room 배정 안 받은 게스트도 출력
#check_in을 한 뚝딱이랑 뿡뿡이만 나오는게 아니라 방을 배정 받으면서 자동으로 checkin이 되어서 홍길동과 텔레토비도 나옴

['뚝딱이', '뿡뿡이', '홍길동', '텔레토비']

# 클래스 상속
상속: 부모의 클래스를 물려받음

부모 클래스의 함수, 변수를 자식 클래스가 그대로 사용

In [210]:
class MyPhone():
  def __init__ (self, model, color):
    self.model = model
    self.color = color

  def set_name(self, name):
    self.user = name
    print("사용자의 이름은: %s" %self.user)

  def set_number(self, number):
    self.number = number

class MyPhone2(MyPhone): #자식클래스
  def has_case(self, val=False):
    self.case = val #자식클래스의 새로운 메소드 사용가능

In [212]:
p2 = MyPhone2('iphone', 'red')

In [213]:
p2.set_name("MJ")

사용자의 이름은: MJ

In [214]:
p2.has_case(True)

In [215]:
p2.case

True

In [216]:
p2.set_number('01010')

In [217]:
class MyPhone():
  def __init__ (self, model, color):
    self.model = model
    self.color = color

  def set_name(self, name):
    self.user = name
    print("사용자의 이름은: %s" %self.user)

  def set_number(self, number):
    self.number = number

class MyPhone3(MyPhone):
  def set_number(self, num):
    self.number = num
    print('이 핸드폰의 번호는 : %s' %self.number)

In [218]:
p3 = MyPhone3('iphone', 'red')
p3.set_number("010-xxxx-xxxx")

이 핸드폰의 번호는 : 010-xxxx-xxxx

In [226]:
class Human():
  def __init__ (self, birth_date, sex, nation):
    self.birth_date = birth_date
    self.sex = sex
    self.nation = nation

  def give_name(self, name):
    self.name = name
    print(name)

  def can_sing(self, val=True):
    self.case = val
    if val == True:
      print('Sing a song')

In [227]:
h1 = Human('020202', 'F', '한국')
h1.give_name('김민주')
h1.can_sing(True)
h1.can_sing(False)

김민주
Sing a song

In [221]:
class Human():
  def __init__ (self, birth_date, sex, nation):
    self.birth_date = birth_date
    self.sex = sex
    self.nation = nation

  def give_name(self, name):
    self.name = name
    print(name)

  def can_sing(self, val=True):
    self.can_sing = val
    if val == True:
      print('Sing a song')

class Child(Human):
  def set_case(self, eye):
    self.eye = eye

  def can_sing(self, val=False):
    self.can_sing = val
    print("Can't sing")

  def can_dance(self, val=True):
    self.can_dance = val
    if val == True:
      print('Dance Time!')
    else:
      val = True

In [228]:
# 선생님 답
class Human():
  def __init__ (self, bd, s, n):
    self.birth_date = bd
    self.sex = s
    self.nation = n

  def give_name(self, name):
    self.name = name
    print('이름은 %s 입니다' %self.name)

  def can_sing(self, ability):
    if ability:
      print('Sing a song')

In [231]:
class Child(Human):
  def __init__ (self, bd, s, n, eye):
    self.birth_date = bd
    self.sex = s
    self.nation = n
    self.eye = eye
  def can_sing (self):
    print("Can't sing")
  def can_dance(self):
    print('Dance Time!')

In [234]:
c1 = Child('020202', 'F', '한국', 'black')
c1.nation
c1.can_sing()
c1.can_dance()

Can't sing
Dance Time!

In [235]:
class childSuper(Human):
  def __init__ (self, bd, s, n, eye):
    super(). __init(bd, s, n) #super사용
    self.eye = eye
  def can_sing(self):
    print("Can't sing")
  def can_dance(self):
    print('Dance Time!')

#모듈
함수나 변수, 클래스 등을 가진 파일(.py, .ipynb)
모듈 안에 함수, 클래스 변수 정의되어 있음

import ~~

In [236]:
import math
math.factorial(4)

24

# 예외 처리 try except문
* try: 실행코드 오류나나 확인
* except: 예외처리 코드 오류가 발생하면 이걸 실행
* else: 예외 처리할 오류가 없을때
* finally: 오류 발생 상관없이 무조건 실행
* raise: 오류 일부러 발생

In [237]:
try:
  int('11')
except ValueError as m:
  print(m)
else:
  print('NoError')

NoError

In [241]:
for _ in ['11', 'number', 'in']:
  try:
    int(_)
  except ValueError as m:
    print(m)
  else: #try, except둘 다 아니면
    print('No Error!')
  finally: #항상 실행
    print('Finally Code')
  print('\n')

No Error!
Finally Code


invalid literal for int() with base 10: 'number'
Finally Code


invalid literal for int() with base 10: 'in'
Finally Code

# assert
오류가 나면 그 뒤의 실행이 멈춤

In [245]:
school = {'1반': [150, 156, 179, 191, 198], '2반': [150, 195, 179, 191, 199]}

try:
  for class_number, students in school.items():
    for student in students:
      if student > 190:
        print(class_number, '190을 넘는 학생이 있습니다.')

        raise StopIteration

except StopIteration:
  print('정상종료')

1반 190을 넘는 학생이 있습니다.
정상종료

In [248]:
a = 10

#True 인경우
print("1. assert True인 경우")
assert a == 10, "a is not 10"

print('끝!')
#False인 경우
print("2. assert Flase인 경우")
assert a == 999, "a is not 999"

print('끝2!')

1. assert True인 경우
끝!
2. assert Flase인 경우

AssertionError: a is not 999

In [249]:
sum = 0

while True:
    num = input("숫자를 입력하세요(합계를 보고싶으면 s, S): ")

    if num.lower() == 's':
        print(f"합계: {sum}")
        break

    try:
        sum += int(num)
    except ValueError:
        print("숫자를 입력하세요(합계를 보고싶으면 s, S):")

숫자를 입력하세요(합계를 보고싶으면 s, S): 30
숫자를 입력하세요(합계를 보고싶으면 s, S): 40
숫자를 입력하세요(합계를 보고싶으면 s, S): 90
숫자를 입력하세요(합계를 보고싶으면 s, S): s
합계: 160

In [251]:
sum = 0
d = 1

while(d==1):
  num = input("숫자를 입력하세요(합계를 보고싶으면 s, S): ")

  try:
    if (num.lower() =='s'):
      print(f"합계: {sum}")
      d = 0 # break
    else:
      sum += int(num )
  except:
    continue

숫자를 입력하세요(합계를 보고싶으면 s, S): 40
숫자를 입력하세요(합계를 보고싶으면 s, S): 50
숫자를 입력하세요(합계를 보고싶으면 s, S): 90
숫자를 입력하세요(합계를 보고싶으면 s, S): 20
숫자를 입력하세요(합계를 보고싶으면 s, S): s
합계: 200